<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaxon.back_end.chat.mapper.ChatSessionMapper">

    <select id="findByUserIdAndUserType" resultType="com.jaxon.back_end.chat.dto.ChatSessionDTO">
        SELECT
            id,
            title,
            create_time AS createTime
        FROM chat_session
        WHERE user_id = #{userId}
          AND user_type = #{userType}
          AND is_deleted = 0
        ORDER BY update_time DESC, id DESC
    </select>

</mapper>
